:root {
  --color-bg: rgb(115,115,120);
  --font-ui: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --font-mono: "SF Mono", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  
  --control-bg: rgb(140,140,145);
}

body {
  width: 100%;
  height: 100%;
  margin: 0em;
  margin-left: auto;
  margin-right: auto;
  padding: 0em;
  background-color: var(--color-bg);
}

body, input {
  font-family: var(--font-ui);
  font-size: 14px;
}

.panel {
  margin: 3px;
  display: flex;
}

.control {
  margin: 0;
  padding: 0;
  border: 0pt;
  background-color: var(--control-bg);
  border-radius: 1px;
  vertical-align: top;
}

input[type="number"] {
  text-align: center;
  width: 4em;
}

input.time {
  width: 4em;
  text-align: center;
}

label.number-label {
  display: flex;
  flex-direction: column;
  width: min-content;
  text-align: center;
  margin: 4px;
  
  input[type="number"] {
    background-color: white;
    background-image: linear-gradient(to right, 
      #00b7b7 0%, 
      #00b7b7 0%, 
      white 0%, 
      white 100%);
  }
}

.image-button {
  height: 18px;
  padding: 1px;
  
  img {
    width: 100%;
    height: 100%;
  }
}

.active {
  background-color: #f8d200;
}
.transport-button {
  background-color: transparent;
}

.margin-left {
  margin-left: 8px;
}
.margin-right {
  margin-right: 8px;
}

#app {
  height: 100%;
}

#app-buttons {
  background: transparent;
  margin-left: 3px;
}

#project-header {
  width: 100%;
  display: flex;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 3px;
  
  input {
    width: stretch;
    text-align: center;
    margin-left: 2px;
    margin-right: 2px;
  }
  
  button {
    background-color: transparent;
  }
}

#play.active > img {
  content: url(img/play-green.png);
}

#rec.active > img {
  content: url(img/rec-red.png);
}
/*
#tracks {
  display: grid;
  width: 100%;
  overflow-x: auto;
  grid-template-areas:
    'gridheader timeline'
    'header clips';
}

.gridheader {
  grid-area: 'gridheader';
  width: 100px;
}

.timeline {
  grid-area: 'timeline';
  display: flex;
  
  div {
    width: 60px;
    border: 1pt solid red;
    display: inline;
  }
}
.track-header {
  grid-area: 'header';
  display: flex;
  
}

.track-clips {
  grid-area: 'clips';
}
.track {
  border: 1pt solid black;
}
*/
input.medium-width {
  width: 70px;
}

#tracks-table-container {
  width: stretch;
  overflow-x: scroll;
  margin-left: 7em;
  overflow-y: visible;
  padding: 0;
  
  table {
    border-collapse: separate;
    border-spacing: 0;
    border-top: 1px solid grey;
  }
  
  td,
  th {
    margin: 0;
    border: 1px solid grey;
    white-space: nowrap;
    border-top-width: 0px;
    height: 25px;
  }
  
  td div {
    display: inline-block;
    width: 50px;
  }
  
  td.timeline-col {
    width: auto;
    background-color: var(--control-bg);
    margin: 0pt;
    padding: 0pt;
    
    div {
      border: 1px solid transparent;
      width: 50px;
      overflow: hidden;
      height: 25px;
      font-size: smaller;
    }
    
    div.bar {
      border-left: 1px solid black;
    }
    
    div.beat {
      border-left: 1px solid darkgray;
    }
    
    div.sixteenth {
      border-left: 1px solid rgb(100,100,100);
      font-size: xx-small;
    }
  }
  
  .headcol {
    position: absolute;
    width: max-content;
    left: 0;
    top: auto;
    border-top-width: 1px;
    /*only relevant for first row*/
    margin-top: -1px;
    /*compensate for top border*/
    padding-top: 1px;
    
    .enabled-button {
      width: 14px;
      height: 14px;
      margin: 4px;
      
      border: 1px solid darkgray;
    }

    input {
      font-size: small;
      vertical-align: middle;
      overflow: hidden;
      padding-top: 4px;
    }
  }
  
  .Clip {
    background-color: #00b7b7;
    border: 1pt solid black;
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: smaller;
    margin: 0;
    padding: 0;
    height: 100%;
    vertical-align: middle;
  }
  
  #Track1-Clip1 {
    left: 0px;
  }
  #Track3-Clip2 {
    left: 0px;
  }
}

#zoom {
  margin-left: 20px;
}