:root {
  --device-btn-arm-checked-bg: rgba(255, 80, 50, 0.85);
  --device-btn-enabled-checked-bg: rgba(190, 140, 50, 0.85);
  --device-btn-enabled-checked-shadow: rgba(190, 140, 50, 0.8);
}

#title-bar, #save-bar {
  padding: 0.2em;
  
  input[type="text"] {
    width: 100%;
    text-align: center;
    background: rgba(100,100,100,0.3);
    border: 1pt solid rgba(20,20,20,0.3);
  }
  
  button {
    background: transparent;
    border: 0pt solid black;
    padding: 0pt;
    margin-left: 0.15em;
    margin-right: 0.15em;
    margin-top: 0.2em;
  }
  button > img { 
    width: 2em; 
  }
}


.tracks {
  display: block;
}
.Track {
  flex-direction: row;
  display: block;
}

.Clip,
.Track .Clip {
    display: none;
}

.Track .Effect,
.Track .Instrument,
.Effect,
.Instrument {
  display: flex;
}

.title-bar>label {
  vertical-align: top;
  margin-top: 0.35em;
  margin-bottom: auto;
  height: 100%;
}

.Parameter>label {
  display: inline-block;
  min-width: 6em;
  margin-right: 0.5em;
}

input[type="radio"],
input[type="checkbox"] {
  vertical-align: top;
  margin-bottom: auto;
  height: auto;
  outline: 0.0em;
}

input[type="checkbox"] {
  margin-top: 0.45em;
}

input[type="checkbox"][name="enabled"]:checked {
  accent-color: var(--device-btn-enabled-checked-bg);
  box-shadow: 0.0em 0.0em 1em var(--device-btn-enabled-checked-shadow);
}

input[type="radio"] {
  margin-right: 0pt;
}

.title-bar {
  margin: 0rem;
  padding: 0rem;
  height: auto;
  vertical-align: top;
}

.toggle-button {
  /* font-size: 1.6em; */
  vertical-align: top;
}

#daw>* {
  display: flex;
}

#daw {
  display: flex;
  flex-direction: column;
  margin-bottom: 0vmin;
  height: 100%;

  background-color: rgb(170, 170, 170);
}

#project-name {
  border-radius: 0.3em;
}

#save-bar {
  display: none;
}

#lower-bar {
  background: rgba(0,0,0,0.1);
  padding: 0.2em;

  #transport-bar {
    display: flex;
    flex-direction: row;
    margin-top: 0em;
    margin-left: 0.1em; 
    
    button {
      background: transparent;
      padding: 0pt;
      margin-left: 0.15em;
      margin-right: 0.15em;
      padding-top: 0.2em;
      padding-left: 0.2em;
      padding-right: 0.2em;
      vertical-align: middle;
      border: 0.1em solid rgba(0,0,0,0.3);
      border-radius: 0.3em;
    }
    
    button > img { 
      width: 2em; 
      margin: 0pt;
      padding: 0pt;
    }
    #position {
      margin-left: 0.2em;
      margin-right: 0.2em;
      width: 4em;
      padding: 0pt;
      padding-top: 0.3em;
      border: 0.1em solid rgba(0,0,0,0.2);
      border-radius: 0.3em;
      text-align: center;
    }
  }
  #view-toggles {
    margin-right: 0;
    margin-top: 0.5em;
    margin-left: auto;
    
    label, input {
      margin: 0pt;
      margin-right: 0.2em;
      padding: 0pt;
    }
    
    input {
      margin-top: 0.25em;
      
    }
  }
}

#tracks {
  flex: 2 1 0;
  flex-direction: column;
  margin: 0.1em;
  overflow-y: auto;
  height: stretch;
}

#mixer {
  background-color: rgba(100, 100, 100, 1);
  border: 0.1em solid rgba(0, 0, 0, 0.8);
  flex-direction: row;
  overflow-x: auto;

  .MixerChannel {
    border: 0.1em solid rgba(20, 20, 20, 0.5);
    background: rgba(40, 40, 40, 0.2);
    color: white;
    text-shadow: 1px 1px 2px black;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 98%;
    margin-left: 0.2em;
    margin-right: 0.2em;
    margin-bottom: 0.1em;

    label {
      padding-top: 0.5em;
    }

    input[type="range"] {
      margin-top: 0pt;
      margin-bottom: 0pt;
      height2: 200px;
    }

    input[type="range"]::-webkit-slider-runnable-track {
      height2: 200x;
    }

    value {
      max-width: 4em;
      margin-bottom: 0.2em;
      white-space: nowrap;
      overflow: hidden;
      text-align: center;
    }
  }
}

#toggle-mixer:checked ~ #mixer {
  display: block;
}

.hidden {
  display: none;
}
.Track .track-name {
  display: inline-block;
  width: 100%;
  margin-left: 0px;
}

  .track-header {
  /* display: flex; */
  flex-direction: column;
  background-color: rgba(120, 120, 120, 0.5);
  height: auto;
  margin: 0rem;
  padding: 0rem;
    /* min-width: 8rem;
    max-width: 8rem;
    width: 8rem; */
    /* overflow-x: auto; */

  .track-header>.title-bar>div {
    min-width2: 3rem;
    max-width2: 3rem;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 300;
    vertical-align: top;
    margin-top: 0.05em;
  }
}

.Track {
  display: flex;
  flex-direction: row;
  gap: 10px;

  background-color: rgba(180, 180, 180, 1);
  border: 0.1em solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  box-shadow: 0.1em 0.1em 0.5em rgba(0, 0, 0, 0.4);
  
  padding: 0.2em;
  margin: 0.1em;

  .track-header>.title-bar {
    vertical-align: middle;
    width: 100%;

    .custom-radio {
      display: inline-block;
      margin-right: 0.0em;
      margin-top: 0.1pt;
      
      padding-left: 2pt;
    }

    .custom-radio>input[type="radio"] {
      display: none;
    }

    .custom-radio>.checkmark {
      display: inline-block;
      width: 1.0em;
      height: 1.2em;
      background-color: rgba(255, 0, 0, 0.1);
      border: 0.1em solid #ccc;
      border-radius: 1em;
      margin-right: 0em;
      margin-left: 0em;
      cursor: pointer;
    }

    .custom-radio input:checked+.checkmark {
      background-color: red;
      box-shadow: 0.0em 0.0em 0.4em rgba(255, 0, 0, 1);
    }

    .custom-checkbox {
      /* display: inline-block; */
      float: right;
      margin-right: 0.2em;
      margin-top: 0.2em;
      height: 4em;
    }

    .custom-checkbox>input[type="checkbox"] {
      display: none;
    }

    .custom-checkbox>.checkmark {
      display: inline-block;
      width: 1.2em;
      height: 1.2em;
      background-color: rgba(255, 165, 0, 0.2);
      border: 0.1em solid #ccc;
      border-radius: 0.1em;
      margin-right: 0em;
      cursor: pointer;
    }

    .custom-checkbox input:checked+.checkmark {
      background-color: orange;
      box-shadow: 0.0em 0.0em 0.4em rgba(255, 165, 0, 1);
    }

    label {
      vertical-align: middle;
      margin-bottom: auto;
      height: 100%;
    }
  }

  .TrackLane {
    display: flex;
    flex-direction: column;

    .ModuleParameters {
      height: auto;
      vertical-align: top;
    }

    .Parameter {
      min-width: 30vmin;
      width: 30vmin;

      label {
        width: 3rem;
        min-width: 3rem;
      }

      input[type="range"] {
        margin-left: 0;
      }

      value {
        width: 2.5em;
        max-width: 2.5em;
        white-space: nowrap;
        overflow: hidden;
        text-align: left;
        vertical-align: middle;
        font-size: smaller;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        margin-left: 0pt;
        padding-left: 0pt;
      }

    }
  }

  .track-details {
    overflow-x: auto;
    overflow-y: hidden;
    display: block;
    flex-direction: column;
    margin: 0pt;
    padding: 0pt;
    
    .TrackClipsScrollView {
      overflow-x: auto;
    }
    .TrackClipsContainer {
        overflow-x: auto;
        overflow-y: hidden;
        display: inline-block;
        border: 1pt solid #808080;
        border-radius: 2pt;
        padding: 0pt;
        margin-bottom: 1pt;
        margin: 0pt;
        height: stretch;
    }
  
    .TimeBar {
      display: inline-flex;
      padding: 0pt;
      padding-left: 0.0em;
      margin-top: 0pt;
      
      label,
      div {
        background: rgba(0,0,0,0.1);
        display: inline-flex;
        font-size: xx-small;
        padding: 0pt;
        margin: 0pt;
      }
      
      .banded {
        background: rgba(0,0,0,0.2);
      }
    }

    .TrackClips {
      display: inline-flex;
      width: stretch;
      padding: 0pt;
      margin-top: 0px;
      .Clip {
        border-top: 0.1em solid #3d7a70;
        border-bottom: 0.1em solid #3d7a70;
        background-color: #5d9a90;
        color: white;
        height: min-content;
        box-shadow: 0.1em 0.1em 0.5em rgba(0, 0, 0, 0.4);
        margin: 0em;
        display: inline-block;
        padding: 0pt;
      }
    }

    .ClipNotes {
      display: inline-flex;
      flex-direction: row;
      flex-wrap: nowrap;
      padding-right: 0pt;
      margin-right: 0pt;
      padding-left: 0pt;
      margin-left: 0pt;
      width: stretch;
      span {
        margin: 0pt;
        background: rgba(0,0,0,0.1);
        display: inline-flex;
        font-size: xx-small;
        padding: 0pt;
        margin: 0pt;
      }
    }
          
    .ClipNote {
      margin-top: 1pt;
      margin-left: 2pt;
      margin-right: 2pt;
      
      position2: absolute;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 2pt;
      background: rgba(0, 0, 0, 0.1);
      height: max-content;
      flex-direction: column;
      display: inline-block;
      width2: 96%;
      /* height: 100%; */
    }
              
    .ClipNoteRow {
                flex-direction: row;
                display: flex;
                width: 100%;
                /* height: 100%; */
              }
              
    .ClipNote .ColumnLeft {
                flex-direction: row;
                display: block;
                width: stretch;
                height: 100%;
              }
              
    .ClipNote .VelocityColumn {
                display: inline-block;
                float: right;
                width: 5px;
                height: 20px;
                height2: 100%;
                border: 1px solid #80d0d0;
                background-color: #eee;
                position: relative;
                overflow: hidden;
                
                .VelocityBar {
                  display: block;
                  position: absolute;
                  bottom: 0;
                  width: 100%;
                  height: 20%;
                  
                  background-color: #4CAF50;
                }
              }
              
    .ClipNote .NoteLengthRow {
                display: inline;
                height: auto;
                width: 95%;
                height: 12px;
                border: 1px solid #80d0d0;
                background-color: #eee;
                position: relative;
                overflow: hidden;
                
                .note {
                  display: block;
                  position: absolute;
                  /* top2: 2px; */
                }
                
                .NoteLengthBar {
                  display: block;
                  position: absolute;
                  left: 0;
                  width: 0%;
                  height: 100%;
                  background-color: #AF54C0;
                }
              }
              
    .ClipNote .VisualNoteRow {
                display: block;
                flex-direction: column;
                position: relative;
                overflow: hidden;
                left: 0;
                width: 100%;
                height: 25px;
                border: 1px solid #80d0d0;
                background-color: #6F1480;
                margin-right: 20pt;
                
                .note {
                  display: inline-block;
                  position: absolute;
                  height: auto;
                  height: 100pt;
                  /* top2: 2px; */
                }
                
                .VelocityBackground {
                  /* display: block; */
                  position: absolute;
                  bottom: 0;
                  width: 100%;
                  height: 0%;
                  background-color: #AF54C0;
                }
              }
  }
}
.TrackDevices {
  flex-wrap: wrap;
  width: stretch;
  overflow: auto;
  display: flex;
  flex-direction: column;
  
  background-color: rgba(100, 100, 100, 0.1);
  background-image: linear-gradient(to bottom,
          rgba(100, 100, 100, 0.1),
          rgba(200, 175, 130, 0.2),
          rgba(100, 100, 100, 0.1));
  border: 0.1em solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3em;
  margin: 0em;
  margin-bottom: auto;
  padding: 0.1em;
}

.Track>.title-bar {
  display: inline-block;
}

.Track.expanded {
  .TrackLane {
    display: flex;
    flex-direction: row;
  }
}

.Instrument,
.Effect,
.Source,
.Component {
  border: 1pt solid rgba(0, 0, 0, 0.2);
  margin: 0.0rem;
  display: flex;
  flex-direction: column;
  
  .title-bar {
    display: flex;
    flex-direction: row;

    background-color: rgba(50, 50, 50, 0.3);
    background-image: linear-gradient(to bottom,
        rgba(100, 100, 100, 0.1),
        rgba(200, 175, 130, 0.2),
        rgba(100, 100, 100, 0.1));
    border: 0.05rem solid rgba(50, 50, 50, 0.8);
    box-shadow: 0.1em 0.1em 0.5em rgba(0, 0, 0, 0.4);
  }

  .ModuleParameters {
    /* padding-left: 0.4em; */
    padding-right: 0.4em;
  }
}


.Instrument,
.Effect {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  background-color: rgba(150, 150, 160, 1);
  background-image: linear-gradient(to bottom,
      rgba(100, 100, 100, 0.1),
      rgba(200, 200, 200, 0.6));
  box-shadow: 0.1em 0.1em 0.5em rgba(0, 0, 0, 0.4);


  .toggle-button {
    /* font-size: 1.4em; */
  }

  input[name="enabled"] {
    float: right;
    width: 2em;
  }
}

.Component {
  background-color: rgba(160, 150, 150, 1);
  margin: 0.05em;

  .toggle-button {
    /* font-size: 1.3em; */
  }
}

.Source {
  background-color: rgba(150, 160, 150, 1);
  margin: 0.05em;

  .toggle-button {
    /* font-size: 1.4em; */
  }
}

.Parameter {
  display: flex;
  flex-wrap: nowrap;
}
