:root {
  --fader-bg-track: #5d9a90;
  --fader-bg-progress: #43e5f7;
  --fader-fill: #434343;
  --fader-shadow:
}

.Parameter {

  /*Chrome*/
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      width: 80px;
      -webkit-appearance: none;
      appearance: none;
      background-color: var(--fader-bg-track);
      height: 20px;
    }

    input[type='range']::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      color: #53bba4;
      margin-top: -1px;
    }

    input[type='range']::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 10px;
      cursor: pointer;
      background: var(--fader-fill);
      box-shadow: -80px 0 0 80px var(--fader-shadow);
    }

  }

  /** FF*/
  input[type="range"]::-moz-range-progress {
    background-color: var(--fader-bg-progress);
  }

  input[type="range"]::-moz-range-track {
    background-color: var(--fader-bg-off);
  }

  /* IE*/
  input[type="range"]::-ms-fill-lower {
    background-color: var(--fader-bg-progress);
  }

  input[type="range"]::-ms-fill-upper {
    background-color: var(--fader-bg-off);
  }

}

#mixer {
  input[type=range] {
    width: 10px;
    /* Defines mixer length */
   /* height: 40px;*/
    
    /* margin: 13.05px 0; */
    margin-left: 20px;
    margin-right: 20px;
    background-color: transparent;
    -webkit-appearance: none;
    appearance: none;

    writing-mode: vertical-lr;
    direction: rtl;
    /* appearance: slider-vertical; */

  }

  input[type="range"].disabled::-webkit-slider-runnable-track {
    background: rgba(20, 20, 20, 0.5);
  }

  input[type=range]::-webkit-slider-runnable-track {
    background: rgba(40, 120, 40, 0.5);
    border: 2.2px solid #010101;
    border-radius: 3.2px;
    height2: 80%;
    width: 9.9px;
    cursor: pointer;
  }

  input[type=range]::-webkit-slider-thumb {
    width: 20px;
    height: 40px;

    margin-left: -7.25px;
    background: #5d9a90;
    border: 1px solid #1d5a50;
    border-radius: 2px;
    cursor: pointer;
    -webkit-appearance: none;
    box-shadow: 1pt 1pt 1pt rgba(0, 0, 0, 0.5);
  }

  input[type=range].disabled::-webkit-slider-thumb {
    background: #1d5a50;
  }

  input[type=range]::-moz-range-track {
    background: yellow;
    border: 2.2px solid #010101;
    border-radius: 3.2px;
    width: 100%;
    height5: 9.9px;
    cursor: pointer;
  }

  input[type=range]::-moz-range-thumb {
    width: 50px;
    height3: 36px;
    /* background: #3e9ec4; */
    border: 3.2px solid #0bb0ff;
    border-radius: 5px;
    cursor: pointer;
  }

  input[type=range]::-ms-track {
    background: yellow;
    /* border-color: transparent; */
    border-width: 25.65px 0;
    color: transparent;
    width: 100%;
    height2: 9.9px;
    cursor: pointer;
  }

  input[type=range]::-ms-thumb {
    width: 50px;
    height22: 36px;
    background: #3e9ec4;
    border: 3.2px solid #0bb0ff;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 0px;
    /*Needed to keep the Edge thumb centred*/
  }


  input[type="range"]::-moz-range-progress {
    background-color: var(--fader-bg-progress);
  }

  input[type="range"]::-moz-range-track {
    background-color: var(--fader-bg-off);
  }

  input[type="range"]::-ms-fill-lower {
    background-color: var(--fader-bg-progress);
    border: 2.2px solid #010101;
    border-radius: 6.4px;
  }

  input[type="range"]::-ms-fill-upper {
    background-color: var(--fader-bg-off);
  }
}

@media (orientation: landscape) {
  @media (max-height: 800px){

  }
}