@media (orientation: portrait) {
  body            { font-size: 14px; }
  .toggle-button  { font-size: 0.7em; }
  #daw            { background-color: rgb(220, 170, 170); }
  #mixer {
    min-height: 10%; 
    input[type="range"] {
      height: 40vmin;
      min-height: 40vmin;
    }
    input[type=range]::-webkit-slider-thumb {
      width: 20px;
      height: 40px;
    }
  }
  
  .track-header>.title-bar>div {
    min-width: 3rem;
    max-width: 3rem;
  }

  .Track .track-name  { font-size: small; }
  .VisualNoteRow      { font-size: small; }
  
  .TrackLane {
    .Parameter {
      min-width: 45vmin;
      width: 45vmin;

      label {
        width: 1rem;
        min-width: 1rem;
        margin-right: 0pt;
        padding-right: 0pt;
      }
      
      input[type="range"] {
        width: auto;
        margin-top: 0pt;
      }

      value {
        width: 2em;
        max-width: 2em;
      }
    }
    
    .Instrument,
    .Effect,
    .Source,
    .Component {
      width: 100%;
    }
  }
}

@media (orientation: landscape) {
  @media (max-height: 800px){

    body            { font-size: 10px; }
    .toggle-button  { font-size: 0.7em; }
    .MixerChannelLabel { font-size: xx-small; }
    #view-toggles label { font-size: medium; }
    #daw { background-color: rgb(170, 220, 170); }
    #mixer {
      input[type=range] {
        width: 10px;
        /* Defines mixer length */
        height: 80px;
      }
      
      input[type=range]::-webkit-slider-thumb {
        width: 15px;
        height: 30px;
        margin-left: -5.25px;
      }
    }
    
    .track-header>.title-bar>div {
      min-width: 3rem;
      max-width: 3rem;
    }
  
    .Track .track-name {
      font-size: small;
    }
    
    .TrackDevices {
      flex-direction: row;
    }
    .TrackLane {
      .Parameter {
        min-width: 45vmin;
        width: 45vmin;
  
        label {
          width: 1rem;
          min-width: 1rem;
          margin-right: 0pt;
          padding-right: 0pt;
        }
        
        input[type="range"] {
          width: auto;
        }
      }
      
      .Instrument,
      .Effect,
      .Source,
      .Component {
        width2: min-content;
        display: inline-block;
      }
    }
  }
}
